## qn 1 Say "Hello, World!" With Python

In [1]:
print("Hello, World!")

Hello, World!

qn 2 Python If else

In [2]:
n = int(input())
if n % 2 == 1:
  print("Weird")
elif n % 2 == 0 and 2 <= n <= 5:
  print("Not Weird")
elif n % 2 == 0 and 6 <= n <= 20:
  print("Weird")
else:
  print("Not Weird")

3
Weird

qn 3 On Arithmetic Operators

In [6]:
if __name__ == '__main__':
  a = int(input())
  b = int(input())
  print(a + b)
  print(a - b)
  print(a * b)

3
2
5
1
6

qn 4 Python: Division

In [7]:
if __name__ == '__main__':
  a = int(input())
  b = int(input())

  print(a // b)
  print(a / b)

4
3
1
1.3333333333333333

qn 5 Loops

In [8]:
if __name__ == '__main__':
  n = int(input())

  for i in range(n):
    print(i ** 2)

5
0
1
4
9
16

qn 6 Write a function

In [12]:
def is_leap(year):
  if(year % 400 == 0):
    return True
  if(year % 100 == 0):
    return False
  if(year % 4 == 0):
    return True
  return False
year = int(input().strip())
print(is_leap(year))

1990
False

qn 7 Print Function

In [13]:
n = int(input())
result = ""
for i in range(1, n+1):
  result += str(i)
print(result)

3
123

In [ ]:
from google.colab import drive
drive.mount('/content/drive')